body {
    .wrapper {
        height: auto;
        width: 100%;
        background-image: linear-gradient(#333F92, #57368C);
        padding: 10px;

        nav {
            margin-bottom: 10px;
        }

        .row.admin-layout {
            margin: 0;
            nav {
                width: 250px;
                margin-right: 10px;
            }

            .container-fluid {
                width: calc(100vw - 280px);
            }
        }

        .container-fluid {
            padding: 15px;
            margin-bottom: 10px;
            min-height: calc(100vh - 145px);

            p,li.card-text {
                white-space: pre-wrap;
            }

            .card-custom-deck {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                
                .advert-card {
                    max-width: 300px;
                    margin: 5px;

                    .card-img-top {
                        width: 298px;
                        height: 298px;
                    }
                }
            }

            h2.error {
                text-align: center;
                font-size: 150px;
            }
        }

        footer {
            padding: 15px;

            h6 {
                margin-bottom: 0;
            }
        }
    }
}